<html lang="ko"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{/admin/main.html}"
>

<div layout:fragment="admincontent">
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }

        th, td {
            border: 1px solid #ddd;
            padding: 8px;
        }

        th {
            background-color: #f2f2f2;
        }

        .reply {
            margin-left: 20px;
            color: gray;
        }
    </style>
    <div class="container mt-4">
        <h1>QnA 리스트</h1>
        <table>
            <thead>
            <tr>
<!--                <th>번호</th>-->
                <th>제목</th>
                <th>이메일</th>
                <th>등록일</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="qna : ${qnaList}">
<!--                <td th:text="${qna.qnaId}"></td>-->
                <td>
                    <a th:href="@{/admin/qnaView/{qnaId}(qnaId=${qna.qnaId})}" th:text="${qna.title}"></a>
                    <div th:if="${qna.replies.size() > 0}" class="reply">
                        <span th:each="reply : ${qna.replies}" th:text="'ㄴ ' + ${reply.title} "></span>
                    </div>
                </td>
                <td th:text="${qna.email}"></td>
                <td th:text="${#temporals.format(qna.regDate, 'yyyy-MM-dd')}"></td>
            </tr>
            <tr th:if="${qnaList == null or qnaList.size() == 0}">
                <td colspan="3">해당하는 qna가 없습니다</td>
            </tr>

            </tbody>
        </table>
    </div>
</div>
</html>