<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>QnA 상세보기</title>
    <style>
        .reply {
            margin-left: 20px;
            color: gray;
        }
    </style>
</head>
<body>
<div class="container mt-4">
    <h1>QnA 상세보기</h1>
    <div>
        <h2 th:text="${qna.title}"></h2>
        <p th:text="${qna.content}"></p>
        <p th:if="${qna.email != null}" th:text="'이메일: ' + ${qna.email}"></p>
        <p th:text="${qna.answered} ? '답변 완료' : '미답변'"></p>

        <div th:if="${qna.replies.size() > 0}">
            <h3>답변:</h3>
            <div th:each="reply : ${qna.replies}" class="reply">
                <p th:text="'ㄴ ' + ${reply.title}"></p>
            </div>
        </div>

        <div th:if="${!qna.answered}">
            <a th:href="@{'/admin/qnaAnswer/' + ${qna.qnaId}}" class="btn btn-secondary">답변 등록</a>
<!--            <form th:action="@{'/qna/delete/' + ${qna.qnaId}}" method="post" class="d-inline">-->
<!--                    <input type="hidden" name="_method" value="delete"/>-->
<!--                    <label for="password">비밀번호:</label>-->
<!--                    <input type="password" id="password" name="password" required>-->
<!--                    <button type="submit" class="btn btn-danger" onclick="return confirm('정말 삭제하시겠습니까?');">삭제하기</button>-->
<!--                </form>-->
        </div>
    </div>
</div>
</body>
</html>
