<!DOCTYPE html>
<html
  lang="ko"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{main/layout.html}"
>
  <head>
    <link th:href="@{/assets/css/main/main.css}" rel="stylesheet" />
  </head>
  <div layout:fragment="mainContent" class="fontQnsvlf">
    <div th:style="'display:flex;align-items:center; height:100%; color:#fff;'">
      <div>
        <div th:style="'padding=0;'">
          <img width="600" height="480" th:src="'/upload/images/error.jpg'" th:alt="'에러이미지'"/>
        </div>
        <div th:text="${errors}" th:style="'font-size:40px; text-align:center;'"></div>
        <div  th:style="'text-align:center; margin-top:10px;'">
          <button th:style="'width:100px; height:50px; background-color: #fff; border:1px solid #fff; font-size:20px;text-align:center;'" th:onclick="'main();'">메인으로</button>
        </div>
      </div>
    </div>
      <div>
        <script th:inline="javascript">
          function main(){
            location.href='/';
          }
        </script>
      </div>
</div>

</body>
</html>
