<!DOCTYPE html>
<html
  lang="ko"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultrag.net.nz/thymeleaf/layout"
>
  <head>
    <meta charset="UTF-8" />
    <title>layout</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link th:href="@{/assets/css/main/header.css}" rel="stylesheet" />
    <link th:href="@{/assets/css/main/layout.css}" rel="stylesheet" />
    <style>
      body {
        margin: 0;
        padding: 0;
        background-color: #f3cd99;
      }
    </style>
  </head>

  <body>
    <div class="center">
      <div class="layoutHeader"></div>
    </div>
    <div class="ccenter">
      <header>
        <a href="/post/main"
          ><img
            th:src="@{/assets/public/logo.png}"
            alt="K-MOOC 로고"
            style="width: 150px"
        /></a>
        <nav>
          <ul class="tabs">
            <li
              th:class="${viewType == 'today' ? 'active' : ''}"
              th:onclick="|location.href='/post/main'|"
            >
              오늘의 학습
            </li>
            <li
              th:class="${viewType == 'my' ? 'active' : ''}"
              th:onclick="|location.href='/post/list'|"
            >
              나의학습
            </li>
            <li
              th:class="${viewType == 'share' ? 'active' : ''}"
              th:onclick="|location.href='/post/sharelist'|"
            >
              공유학습
            </li>
          </ul>
        </nav>
        <div class="search-bar">
          <input type="text" placeholder="Search..." />
          <button>
            <a href="/main/main"
              ><img
                th:src="@{/assets/public/pen.png}"
                alt="serach 로고"
                style="width: 20px"
            /></a>
          </button>
        </div>
        <div class="user-info">
          <a href="/myPage/myPageInfo" class="user-name"></a>
          <ul class="dropdown">
            <li><a href="/myPage/myPageInfo">나의 정보</a></li>
            <li><a href="/myPage/myPageFriend">친구 목록</a></li>
            <li><a href="/myPage/myPageMessage">쪽지 목록</a></li>
          </ul>
          <button class="alertIcon"></button>
          <div class="alertCount">9</div>
          <button class="login-btn" onclick="location.href='/sign/logout'">
            <img
              src="/assets/public/exitDoor.png"
              alt="로그아웃"
              width="40px"
            />
            <span class="tooltip">로그아웃</span>
          </button>
        </div>
      </header>
    </div>

    <div class="center">
      <div class="contentArea">
        <div layout:fragment="mainContent" class="mainContent"></div>
      </div>
    </div>

    <th:block layout:fragment="script">
      <script
        src="https://cdn.jsdelivr.net/npm/jwt-decode/build/jwt-decode.min.js"
      ></script>
      <script>
        let userName = "";
        function getCookie(name) {
          const value = `; ${document.cookie}`;
          const parts = value.split(`; ${name}=`);
          if (parts.length === 2) return parts.pop().split(";").shift();
        }

        const accessToken = getCookie("accessToken");

        if (accessToken) {
          const decodedToken = jwt_decode(accessToken);
          userName = decodedToken.name;

          document.querySelector(".user-name").textContent = userName;
        } else {
          console.error("Access token is not available.");
        }

        console.log(userName);
      </script>
    </th:block>
  </body>
</html>
