<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Title</title>
    <link rel="stylesheet" href="/assets/css/sign/signIn.css" />
  </head>
  <body>
    <!-- <script th:inline="javascript">
      const error = [[${error}]];
      if(error){
        alert(error);
      }
    </script> -->
    <div class="signBackground">
      <div class="center">
        <div>
          <div class="signHeader"></div>
          <div class="center">
            <div class="signContainer">
              <div class="signInContent">
                <h2>로그인</h2>
                <div class="ccenter">
                  <div>
                    <div class="inputArea">
                      <div style="margin-bottom: 30px">SWC에 어서오세요!</div>
                      <form id="signinForm">
                        <div>
                          <div class="form-group">
                            <input type="text" id="signinId" class="custom-input" required placeholder="아이디"/>
                          </div>
                          <div class="form-group">
                            <input type="password" id="signinPwd" class="custom-input" required placeholder="비밀번호"/>
                          </div>
                        </div>
                        <div style="margin-top: 40px">
                          <button type="submit" class="btn" style="font-size:24px">로그인</button>
                        </div>
                      </form>

                      <div style="margin-top: 30px">
                        <a href="/sign/forgotPassword" style="font-size: 20px; margin-right: 20px">비밀번호 찾기</a>
                        <a href="https://cjtext.chunjae.co.kr/member/terms.jsp" style="font-size: 20px">회원약관</a>

                      </div>
                      <div class="OAuthArea">
                        <hr />
                        <p>소셜 로그인</p>
                        <a href="/oauth2/authorization/google" class="btn">
                          <div style="display: flex; gap: 5px">
                            <img src="/assets/public/google.png" width="20px"/>
                            <div>
                            구글로 시작하기
                            </div>
                          </div>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>



    <script th:inline="javascript" src="/assets/js/sign/signIn.js"></script>
  </body>
</html>
