body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

.container-fluid {
    margin: 20px;
}

.sidebar {
    background-color: #f8f9fa;
    padding: 15px;
    border-right: 1px solid #ddd;
}

footer {
    background-color: #f1f1f1;
    padding: 10px 0;
    text-align: center;
    border-top: 1px solid #ddd;
}
