<!DOCTYPE html>
<html lang="ko" xmlns:layout="http://www.ultrag.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>쪽지 작성</title>
</head>
<body>
<section class="content" layout:fragment="maincontent">
<h1>쪽지 작성</h1>
    <script type="text/javascript" th:if="${error}">
            alert("받는 사람을 찾을 수 없습니다.");
    </script>
    </th:block>
<form action="/message/regist" method="post">
    <div>
        <input type="text" id="senderId" name="senderId" th:value="${senderId}" hidden readonly />
    </div>

    <div>
        <label for="receiverId">받는사람</label>
        <input type="text" id="receiverId" name="receiverId" placeholder="" required />
    </div>

    <div>
        <label for="title">제목</label>
        <input type="text" id="title" name="title" placeholder="" required />
    </div>

    <div>
        <label for="content">내용</label>
        <textarea id="content" name="content" placeholder="쪽지 내용을 입력하세요" required></textarea>
    </div>

    <div>
        <input type="hidden" id="regDate" name="regDate" th:value="${T(java.time.LocalDateTime).now()}" placeholder="등록일" required />
    </div>

    <div>
        <button type="submit">보내기</button>
        <button type="button" onclick="window.location.href='/message/list';">취소</button>
    </div>

<!--    <div th:if="${error}">-->
<!--        <p style="color: red;">${error}</p>-->
<!--    </div>-->
</form>
    <th:block th:if="${error}">
        <script type="text/javascript">
            alert("쪽지 등록에 실패하였습니다.");
        </script>
    </th:block>
</section>
</body>
</html>
